name: PublishProduction

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build package
        shell: pwsh
        run: |
          $ProgressPreference='SilentlyContinue'
          Install-Module platyPS,BuildHelpers -Force -SkipPublisherCheck -Scope CurrentUser
          & $env:GITHUB_WORKSPACE/Build/New-Package.ps1 -Verbose

      - name: Publish to powershellgallery.com
        env:
          NUGET_APIKEY_PRODUCTION: ${{ secrets.NUGET_APIKEY_PRODUCTION }}
        shell: pwsh
        run: |
          $ProgressPreference='SilentlyContinue'
          Publish-Module `
            -Path $env:GITHUB_WORKSPACE/Build/Output/ `
            -NuGetApiKey $env:NUGET_APIKEY_PRODUCTION
