name: PublishTesting

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build package
        shell: pwsh
        run: |
          $ProgressPreference='SilentlyContinue'
          Install-Module platyPS,BuildHelpers -Force -SkipPublisherCheck -Scope CurrentUser
          & $env:GITHUB_WORKSPACE/Build/New-Package.ps1 -Verbose

      - name: Publish to poshtestgallery.com
        env:
          NUGET_APIKEY_TESTING: ${{ secrets.NUGET_APIKEY_TESTING }}
        shell: pwsh
        run: |
          $ProgressPreference='SilentlyContinue'
          Register-PSRepository `
            -Name PSTestGallery `
            -SourceLocation https://www.poshtestgallery.com/api/v2
          Publish-Module `
            -Path $env:GITHUB_WORKSPACE/Build/Output/ `
            -NuGetApiKey $env:NUGET_APIKEY_TESTING `
            -Repository PSTestGallery `
            -Force
